.form-container{
   display: flex;
   justify-content: center;
   margin:35px auto;
   flex-direction: column;
   max-width: 640px;
   /* align-items: center; */
}
.form-container h2{
    font-size: revert-layer;
    align-self: center;
}

.form-container label{
    margin-bottom: 8px; 
   
}

.form-container input{
    display: block;
    padding-left: 7px;
    /* justify-self: auto; */
    margin: 1px;
    width: 100%;
    border-radius: 1px;
    border: 1px solid black;
    background-color: rgb(250, 250, 250);
    
    &.input-tag{
        align-self: flex-start;
        max-height:fit-content;
        
    }
    &.ingredient-name{
        width:297px; 
        margin-right: 5px;
    }
    &.ingredient-quantity{
        width:297px;
        margin-left:5px;
    }

   
    &.onDeleteIngredients{
    align-self: flex-end;
    }
}

.form-control > .recipeSteps{
    display: block;
    width: 100%;
    border: 1px solid black;
}

.form-container .submit-button{
    /* margin: 20px; */
    border: 1px solid black;
    padding: 2px;
    width: 150px;
    background-color: rgb(229, 60, 60);
}
.form-container .tag-cross{
    /* display:block; */
    width:fit-content;
    align-self: flex-end;
    height:auto;
    padding: 2px;
    margin: 3px;
    border: 1px solid black;
    background-color: rgb(229, 60, 60);
}
.form-container label .ingredients{
    display: flex;
    max-width: 30px;
    flex-direction: row;

}
.form-container label .tag-label{
    display: flex;
    flex-direction: column;
}
.toAddIngredients{
    font-display: bold;
    align-self: flex-start;
    padding-left: 5px;
    color: rgb(162, 162, 162);
    margin-bottom: 5px;
    /* margin-left: 5px; */
}
.checkbox{
    padding-top: 4px;;
    color: rgb(135, 133, 133);
}


.form-control {
    margin-bottom: 0.75rem;
}

.form-control > .form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.25rem;
}

.form-control > .form-input {
    border-radius: 2px;
    padding: 0.25rem 0.5rem;
}